
@{ Layout = "DashboardLayout";
    ViewData["Title"] = "Index";
}

    <div class="row dashboard_tiles">
       
        <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="100%" class="rounded" src="~/images/ProjectCreator.jpg" />
                <div class="dashboard_tiles_link"><a href="/admin/projects">Projects</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="100%" class="rounded" src="~/images/AddUser.jpg" />
                <div class="dashboard_tiles_link"><a href="/admin/users">Users</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <img width="100%" class="rounded" src="~/images/ViewStatus.jpg" />
                <div class="dashboard_tiles_link"><a href="#">View Status</a></div>
            </div>
        </div>
    </div>

