@model ManagmentWeb.Models.LoginModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}


<link href="~/css/Login.css" rel="stylesheet" />
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" action="/account/forgotpassword" method="post">
                <div class="text-center">
                    <img style=" width: 25%;" src="~/images/reset-password.jpg" class="rounded-circle avatar" alt="Avatar" />

                </div>
                <span class="login100-form-title p-b-33" style="font-size: 25px;margin-top: 10px;">
                    Forgot Password
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    <input asp-for="Email" class="input100" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" class="login100-form-btn">
                        Get my password
                    </button>
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success"> <span> @ViewBag.Success</span></div>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger"> <span> @ViewBag.Error</span></div>
                    }
                </div>
            </form>
            <div class="text-center" style="margin-top: 15px;">
                <a asp-action="Login">Login</a>
            </div>
        </div>

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
