
@{
    Layout = "DashboardLayout";
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-12 text-center text-capitalize">
        <div class="dashboard_login_heading">Log-In</div>
    </div>
</div>

<div class="row dashboard_tiles">
    <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded">

            <img width="100%" class="rounded" src="~/images/Admin.png" />
            <div class="dashboard_tiles_link"><a href="admin/index">Admin</a></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <img width="100%" class="rounded" src="~/images/ProjectCreator.jpg" />
            <div class="dashboard_tiles_link"><a href="#">Project Creator</a></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <img width="100%" class="rounded" src="~/images/Worker.jpg" />
            <div class="dashboard_tiles_link"><a href="#">Worker</a></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <img width="100%" class="rounded" src="~/images/AccountUser.jpg" />
            <div class="dashboard_tiles_link"><a href="#">Account Users</a></div>
        </div>
    </div>
</div>


